$font-stack:    Helvetica, sans-serif
$primary-color: #333
$border: 1px solid #eee
$halfWidth : 50%
$left : left
$rigth: right
$center : center

body
  font: 100% $font-stack
  color: $primary-color
  background: blue
  color:#fff

h1  
  font-weight: bold
  font-size: 36px

.topBar
  position: fixed


