.wrap {
  color: #333;
}

header {
  position: fixed;
  top: 0px;
  left: 30px;
  width: 95%;
  line-height: 20px;
}

header ul {
  display: inline-block;
  float: right;
}

header ul li {
  margin-left: 1rem;
  padding: 5px;
}

header ul li:nth-child(3) {
  border: 2px solid #333;
}

section {
  text-align: center;
  height: 600px;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  display: inline-block;
}

h2 {
  font-size: 70px;
}

h3 {
  color: #474545;
  font-size: 30px;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  float: left;
}

.leftArea {
  width: 50%;
  float: left;
}

.rightArea {
  width: 50%;
  float: right;
}

input:focus {
  outline: none;
}

#section01 {
  background-image: url("./image/menu0.jpg");
  background-size: inherit;
  padding: 7rem 0 0 0;
  margin-top: -1.5rem;
}

#section01 h3 {
  position: relative;
  padding-top: 0;
}

#section01 h3::after {
  height: 5px;
  width: 40px;
  background-color: #206026;
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#section02 {
  height: 700px;
  background-color: #bed8c8;
}

#section02 h3 {
  padding-bottom: 2.5rem;
  position: relative;
}

#section02 h3::after {
  height: 5px;
  width: 40px;
  background-color: #333;
  content: '';
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#section02 > div {
  width: 80%;
  margin: 0 auto;
}

#section02 li {
  margin-right: 1.5rem;
}

#section02 li > div {
  width: 400px;
  height: 500px;
  -webkit-box-shadow: 0px 0px 20px #a3a3a3;
          box-shadow: 0px 0px 20px #a3a3a3;
}

#section02 li > div .topImg {
  height: 250px;
}

#section02 li > div .bottomTxt {
  background: #fff;
  height: 250px;
  font-weight: bold;
  line-height: 35px;
}

#section02 li:first-child .topImg {
  background-image: url("./image/menu4.jpg");
  background-size: contain;
}

#section02 li:nth-child(2) .topImg {
  background-image: url("./image/menu5.jpg");
}

#section02 li:nth-child(3) .topImg {
  background-image: url("./image/menu2.jpg");
}

#section02 .bottomTxt span {
  padding-top: 4rem;
  display: block;
  position: relative;
}

#section02 .bottomTxt span::after {
  height: 5px;
  width: 40px;
  background-color: #474545;
  content: '';
  position: absolute;
  top: 2.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#section03 {
  height: 500px;
}

#section03 .leftArea {
  background-image: url("./image/menu1.jpg");
  background-size: contain;
  height: 500px;
}

#section03 .rightArea {
  padding: 4rem 0 0 0;
  line-height: 20px;
  letter-spacing: 2px;
  position: relative;
}

#section03 .rightArea h3 {
  position: relative;
  padding-bottom: 7rem;
}

#section03 .rightArea h3::after {
  height: 5px;
  width: 40px;
  background-color: #333;
  content: '';
  position: absolute;
  top: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#section04 {
  height: 300px;
  background-color: #97afa0;
}

#section04 h3 {
  padding-bottom: 0;
}

#section04 input {
  background-color: #bed8c8;
  height: 30px;
  display: block;
  margin: 0 auto;
  width: 30%;
  margin-bottom: 1rem;
  border: 2px solid #ffffff;
  padding: 10px;
}

#section04 button {
  border: 2px solid #333;
  width: 180px;
  height: 40px;
  letter-spacing: 10px;
  background: transparent;
}

footer {
  height: 60px;
  padding: 3rem 0;
}

footer .icon {
  display: inline-block;
  float: left;
  margin-right: 15px;
  color: #fff;
  background: #474545;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
}

footer .rightArea {
  text-align: right;
}

footer .rightArea ul {
  float: right;
}

footer .rightArea ul li {
  margin-right: 2rem;
}
/*# sourceMappingURL=style.css.map */